html, body, div, header, section, textarea {
  margin: 0;
  padding: 0;
  /*
    将font-size设为0，
    消除元素间因空格而引起的间隙
    */
  font-size: 0;
  color: #ffffff;
  font-family: sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

.outer-header {
  height: 5%;
  width: 100%;
  background-color: #262821;
  display: flex;
  align-items: center;
}

.outer-header img {
  margin: 5px 10px;
}

/*
  将两个元素中部对齐
  酱紫可以解决当预览框增加内容时会整体布局下移的问题
  */
#page {
  height: 95%;
  width: 100%;
  display: flex;
  align-items: center;
  /*防止页面滚动*/
  overflow: hidden;
}

#lineNumberContainer {
  height: 100%;
  width: 40px;
  /*不被压缩*/
  flex-shrink: 0;
}

#lineNumberContainer .inner-header {
  background-color: #262821;
}

#lineNumber {
  background-color: #262821;
  /*内容溢出时生成滚动条*/
  overflow-y: scroll;
}

/*让滚动条不显示*/
#lineNumber::-webkit-scrollbar {
  display: none;
}

/*必须设置子元素字体大小不为零*/
#lineNumber div {
  font-size: 14px;
  text-align: right;
  margin: 0 10px 0 0;
  padding: 0;
  color: #909089;
}

#editorContainer, #previewContainer {
  height: 100%;
  /*让这两个元素平分剩下的空间*/
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 0;
  background-color: #262821;
}

.inner-header {
  height: 5%;
  display: flex;
}

.inner-header .title-container {
  display: inline-block;
  height: 100%;
  width: 25%;
  background-color: #262821;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-header .title-container span {
  overflow: hidden;
  color: #DBDBDB;
  font-size: 14px;
}

.inner-header .active-container {
  flex-shrink: 0;
  background-color: #434443;
}

.editor, .preview, #scrollBar, #lineNumber {
  height: 95%;
  width: 100%;
  font-size: 14px;
  border: none;
}

.editor {
  display: block;
  outline: none;
  background-color: #434443;
  /*增加横向滚动条*/
  white-space: nowrap;
  overflow: auto;
}

/*当该行不足以存放整个句子时进行换行*/
.preview {
  word-wrap: break-word;
}

#scrollBarContainer {
  height: 100%;
  width: 5px;
  background-color: #262821;
  /*不被压缩*/
  flex-shrink: 0;
}

#previewContainer .preview {
  background-color: #434443;
  /*预览页面滚动*/
  overflow-y: auto;
}

/*
消除预览界面的第一个元素的上外边框
同时增加上内边框
 */
#previewContainer .preview>*:first-child {
  margin-top: 0;
  padding-top: 14px;
}
